<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper" style="text-align:center">
  <div class="header-wrapper">
    <div class="numbers-counter">
      <h4>Total Numbers Generated:</h4>
      <span class="counter-display">{{ totalNumbers }}</span>
    </div>
    <div class="app-title">
      {{ title }}
    </div>
  </div>
  <div class="body-wrapper">
    <div class="left-column">
      <table *ngIf="totalNumbers > 0;else emptyNumbers;">
        <tr>
          <th>S/N</th>
          <th>Numbers</th>
        </tr>
        <tr *ngFor="let number of randomNumbers; let i = index;" class="rows">
          <td>{{ i + 1}}</td>
          <td>{{ number }}</td>
        </tr>
      </table>
    </div>
    <div class="right-column">
      <input [(ngModel)]="numbersToGenerate" #myForm="ngModel" type="text" class="generate-input" name="numbersToGenerate"
        placeholder="How many numbers will you like to generate?" required>
      <div class="btn-wrappers">
        <button (click)="generateNumbers()" class="btn-general" type="button" [disabled]="myForm.invalid">Generate</button>
        <button (click)="sortAscending()" type="button" class="btn-general">Sort Ascending</button>
        <button (click)="sortDescending()" class="btn-general">Sort descending</button>
      </div>
      <div class="min-max-wrapper">
        <label for="max-wrapper" class="max-wrapper">Max Number Generated</label>
        <span>{{ maxNumber }}</span>
        <label for="min-wrapper" class="max-wrapper">Min Number Generated</label>
        <span>{{ minNumber }}</span>
      </div>
    </div>

  </div>
  <ngx-loading [show]="loading"></ngx-loading>
  <div class="footer-wrapper"></div>
</div>
<ng-template #emptyNumbers>
  <h3 style="text-align:center;margin-top:15%;">No numbers at the moment</h3>
</ng-template>