<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper" style="text-align:center">
  <div class="header-wrapper">
    <div class="numbers-counter">
      <h4>Total Numbers Generated:</h4>
      <span class="counter-display">{{ totalNumbers }}</span>
    </div>
    <div class="app-title">
      <p> {{ title }} </p>
    </div>
  </div>
  <div *ngIf="randomNumbers.length > 0" class="body-wrapper">
    <div class="left-column">
        <table>
            <tr>
              <th>S/N</th>
              <th>Numbers</th>
            </tr>
            <tr *ngFor="let number of randomNumbers; let i = index;" class="rows">
              <td>{{ i + 1}}</td>
              <td>{{ number }}</td>
            </tr>
          </table>
    </div>
    <div class="right-column">
      <input type="text" class="generate-input" placeholder="How many numbers will you like to generate?" />
      <div class="btn-wrappers">
        <button class="btn-general">Generate</button>
        <button class="btn-general">Sort</button>
        <button class="btn-general">Reset</button>
      </div>
    </div>

  </div>
  <div class="footer-wrapper"></div>
</div>